.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-resolution: 192dpi) and (max-width: 1439px),
  screen and (min-resolution: 2dppx) and (max-width: 1439px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 1439px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 374px),
  screen and (min-resolution: 2dppx) and (max-width: 374px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 374px) {
  .container {
    max-width: 320px;
  }
}
